
.cardImg {
  height: 20vmin;
  margin-top: 47px;
}
.cardHeading {
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  background-color: blanchedalmond;
}
.mainCard {
  border: 1px solid black;
  margin: 10px;
  width: 500px;
  box-shadow: 10px 10px  5px lightblue ;
  height: 300px;
}
.cardText {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 20%;
}
.customSpan {
  color: blue;
}
