.navBar{
     background-color: rgb(166 221 247);
     padding: 10px;
}
.customOl{
     display: flex;
     justify-content: space-around;
     align-items: center;
}
.customOl li{
     list-style: none;
     font-size: 25px;
     margin: 0px 5px 0px 5px;
     font-weight: 500;
     font-family: cursive;
     text-transform: uppercase;
}
.customOl li a{
     color: rgb(229, 22, 63);
     text-decoration: none;
}
.customOl li a:hover{
     color: rgba(38, 85, 166, 0.954);
}